<!DOCTYPE html>

<html lang="en-us" dir="ltr">
  <head>
    <title>Add contact | Django site admin</title>
    <link rel="stylesheet" href="/static/admin/css/base.css" />

    <link rel="stylesheet" href="/static/admin/css/dark_mode.css" />
    <script src="/static/admin/js/theme.js"></script>

    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css" />
    <script src="/static/admin/js/nav_sidebar.js" defer></script>

    <link rel="stylesheet" href="/static/admin/css/forms.css" />

    <script src="/admin/jsi18n/"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="/static/admin/js/core.js"></script>
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script src="/static/admin/js/actions.js"></script>
    <script src="/static/admin/js/urlify.js"></script>
    <script src="/static/admin/js/prepopulate.js"></script>
    <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/admin/css/responsive.css" />

    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>

  <body class="app-schoolapp model-contact change-form" data-admin-utc-offset="0">
    <a href="#content-start" class="skip-to-content-link">Skip to main content</a>
    <!-- Container -->
    <div id="container">
      <!-- Header -->

      <header id="header">
        <div id="branding">
          <div id="site-name">
            <a href="/admin/">Django administration</a>
          </div>
        </div>

        <div id="user-tools">
          Welcome,
          <strong>admin</strong>.

          <a href="/">View site</a> /

          <a href="/admin/password_change/">Change password</a> /<form id="logout-form" method="post" action="/admin/logout/">
            <input type="hidden" name="csrfmiddlewaretoken" value="mZ56jQZAoXNeQYRo6gSSEXOgW5vEygEkT14Ql0xK6xB144vd0G9O5NQNqV13fUU2" />
            <button type="submit">Log out</button>
          </form>

          <button class="theme-toggle">
            <span class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</span>
            <span class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</span>
            <span class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</span>
            <svg aria-hidden="true" class="theme-icon-when-auto">
              <use xlink:href="#icon-auto" />
            </svg>
            <svg aria-hidden="true" class="theme-icon-when-dark">
              <use xlink:href="#icon-moon" />
            </svg>
            <svg aria-hidden="true" class="theme-icon-when-light">
              <use xlink:href="#icon-sun" />
            </svg>
          </button>
        </div>
      </header>

      <!-- END Header -->

      <nav aria-label="Breadcrumbs">
        <div class="breadcrumbs">
          <a href="/admin/">Home</a>
          &rsaquo; <a href="/admin/schoolapp/">Schoolapp</a>
          &rsaquo; <a href="/admin/schoolapp/contact/">Contacts</a>
          &rsaquo; Add contact
        </div>
      </nav>

      <div class="main" id="main">
        <button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
        <nav class="sticky" id="nav-sidebar" aria-label="Sidebar">
          <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items" />

          <div class="app-auth module">
            <table>
              <caption>
                <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
              </caption>
              <thead class="visually-hidden">
                <tr>
                  <th scope="col">Model name</th>
                  <th scope="col">Add link</th>
                  <th scope="col">Change or view list link</th>
                </tr>
              </thead>

              <tr class="model-group">
                <th scope="row" id="auth-group">
                  <a href="/admin/auth/group/">Groups</a>
                </th>

                <td>
                  <a href="/admin/auth/group/add/" class="addlink" aria-describedby="auth-group">Add</a>
                </td>
              </tr>

              <tr class="model-user">
                <th scope="row" id="auth-user">
                  <a href="/admin/auth/user/">Users</a>
                </th>

                <td>
                  <a href="/admin/auth/user/add/" class="addlink" aria-describedby="auth-user">Add</a>
                </td>
              </tr>
            </table>
          </div>

          <div class="app-schoolapp module current-app">
            <table>
              <caption>
                <a href="/admin/schoolapp/" class="section" title="Models in the Schoolapp application">Schoolapp</a>
              </caption>
              <thead class="visually-hidden">
                <tr>
                  <th scope="col">Model name</th>
                  <th scope="col">Add link</th>
                  <th scope="col">Change or view list link</th>
                </tr>
              </thead>

              <tr class="model-contact current-model">
                <th scope="row" id="schoolapp-contact">
                  <a href="/admin/schoolapp/contact/" aria-current="page">Contacts</a>
                </th>

                <td>
                  <a href="/admin/schoolapp/contact/add/" class="addlink" aria-describedby="schoolapp-contact">Add</a>
                </td>
              </tr>

              <tr class="model-teacher">
                <th scope="row" id="schoolapp-teacher">
                  <a href="/admin/schoolapp/teacher/">Teachers</a>
                </th>

                <td>
                  <a href="/admin/schoolapp/teacher/add/" class="addlink" aria-describedby="schoolapp-teacher">Add</a>
                </td>
              </tr>
            </table>
          </div>
        </nav>

        <main id="content-start" class="content" tabindex="-1">
          <!-- Content -->
          <div id="content" class="colM">
            <h1>Add contact</h1>

            <div id="content-main">
              <h1>Are you sure?</h1>

              <form method="post" id="contact_form" novalidate>
                {% csrf_token %}
                <div>
                  <fieldset class="module aligned">
                    <div class="form-row">
                      <div>
                        <div class="flex-container">
                          <p>You are about to permanently delete this contact message.</p>
                          <p>
                            <strong>This action cannot be undone.</strong>
                          </p>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <div class="submit-row">
                    <input type="submit" value="Yes, Delete" class="deletelink" name="_confirm_delete" />
                    <a href="{% url 'admin_contact_list' %}" class="button cancel-link">Cancel</a>
                  </div>

                  <script id="django-admin-form-delete-constants" src="/static/admin/js/change_form.js" data-model-name="contact" async></script>
                </div>
              </form>

              {% comment %} <h1>Add Contact Message</h1>

              <form method="post" id="contact_form" novalidate>
                {% csrf_token %}
                <div>
                  <fieldset class="module aligned">
                    <div class="form-row field-name">
                      <div>
                        <div class="flex-container">
                          <label class="required" for="id_name">Name:</label>
                          <input type="text" name="name" class="vTextField" maxlength="100" required id="id_name" value="{{ form.name.value|default:'' }}" />
                        </div>
                        {% if form.name.errors %}
                          <ul class="errorlist">
                            {% for error in form.name.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-row field-phone">
                      <div>
                        <div class="flex-container">
                          <label class="required" for="id_phone">Phone:</label>
                          <input type="text" name="phone" class="vTextField" maxlength="20" required id="id_phone" value="{{ form.phone.value|default:'' }}" />
                        </div>
                        {% if form.phone.errors %}
                          <ul class="errorlist">
                            {% for error in form.phone.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-row field-email">
                      <div>
                        <div class="flex-container">
                          <label class="required" for="id_email">Email:</label>
                          <input type="email" name="email" class="vTextField" maxlength="254" required id="id_email" value="{{ form.email.value|default:'' }}" />
                        </div>
                        {% if form.email.errors %}
                          <ul class="errorlist">
                            {% for error in form.email.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-row field-message">
                      <div>
                        <div class="flex-container">
                          <label class="required" for="id_message">Message:</label>
                          <textarea name="message" cols="40" rows="10" class="vLargeTextField" required id="id_message">{{ form.message.value|default:'' }}</textarea>
                        </div>
                        {% if form.message.errors %}
                          <ul class="errorlist">
                            {% for error in form.message.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    </div>
                  </fieldset>

                  <div class="submit-row">
                    <input type="submit" value="Save" class="default" name="_save" />
                    <input type="submit" value="Save and add another" name="_addanother" />
                    <input type="submit" value="Save and continue editing" name="_continue" />
                  </div>

                  <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="contact" async></script>
                  <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]"></script>
                </div>
              </form> {% endcomment %}
            </div>

            <br class="clear" />
          </div>
          <!-- END Content -->
        </main>
      </div>
      <footer id="footer"></footer>
    </div>
    <!-- END Container -->

    <!-- SVGs -->
    <svg xmlns="http://www.w3.org/2000/svg" class="base-svgs">
      <symbol viewBox="0 0 24 24" width="1.5rem" height="1.5rem" id="icon-auto">
        <path d="M0 0h24v24H0z" fill="currentColor" />
        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2V4a8 8 0 1 0 0 16z" />
      </symbol>
      <symbol viewBox="0 0 24 24" width="1.5rem" height="1.5rem" id="icon-moon">
        <path d="M0 0h24v24H0z" fill="currentColor" />
        <path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z" />
      </symbol>
      <symbol viewBox="0 0 24 24" width="1.5rem" height="1.5rem" id="icon-sun">
        <path d="M0 0h24v24H0z" fill="currentColor" />
        <path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z" />
      </symbol>
    </svg>
    <!-- END SVGs -->
  </body>
</html>

{% comment %} {% extends 'base.html' %}
{% load static %}
{% block content %}
  <h3>Are you sure you want to delete message from "{{ contact.name }}"?</h3>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>
    <a href="{% url 'admin_contact_list' %}">Cancel</a>
  </form>
{% endblock %} {% endcomment %}
