{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- end header section -->

  <!-- teacher section -->
  <section class="teacher_section layout_padding-bottom">
    <div class="container">
      <h2 class="main-heading">Our Teachers</h2>
      <p class="text-center">Ipsum available, but the majority h</p>
      <div class="teacher_container layout_padding2">
        <div class="card-deck">
          {% for teacher in teachers %}
            <div class="card">
              {% if teacher.photo %}
                <img class="card-img-top" src="{{ teacher.photo.url }}" alt="{{ teacher.name }}" width="40px" />
              {% else %}
                <img class="card-img-top" src="{% static 'images/teacher-1.jpg' %}" alt="Card image cap" />
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ teacher.name }}</h5>
              </div>
            </div>
          {% empty %}
            <p>No Teacher found.</p>
          {% endfor %}
          {% comment %} <div class="card">
            <img class="card-img-top" src="{% static 'images/teacher-2.jpg' %}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Leena jorj</h5>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{% static 'images/teacher-3.jpg' %}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Magi Den</h5>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{% static 'images/teacher-4.jpg' %}" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">jonson mark</h5>
            </div>
          </div> {% endcomment %}
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <a href="" class="call_to-btn">
          <span>See More</span>
          <img src="{% static 'images/right-arrow.png' %}" alt="" />
        </a>
      </div>
    </div>
  </section>

  <!-- teacher section -->

  <!-- footer section -->
{% endblock %}
